*{
    padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
}

.container{
    display: flex;
    min-height: 100vh;

}

.sidebar{
    background-color: whitesmoke;
    width:  285px;
    padding: 0px;
    padding-top: 50px;
    display: flex;
    box-sizing: border-box;
    

}

.main-content{

    background: rgb(210,146,127);
    background: linear-gradient(90deg, rgba(210,146,127,1) 0%, rgba(255,255,255,1) 99%);
    height: 100vh;
    width: 200vw;
    border-radius: 25px;
}

.sidebar .main .list-item .description{

    color: #000;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    padding-left: 5px;
    margin-top: 100px;
    line-height: normal;
    margin-bottom: 10px;
}


.sidebar .main .list-item .icon{
    max-width: 15vw;
}

.main-content .text-dashboard {
    text-align: center;
    padding-top: 80px;
}

